.wrap-people{
    width: 100%;
    padding: 10px 50px 30px;
    height: 100%;
}

.wrap-form-people{
    width: 100%;
    padding: 10px 50px 30px;
    height: 100vh;
}


.wrap-list-form-industries{
    margin-top: 10px;
    text-align: left;
}